

*{
    padding: 0;
    margin: 0;
}

.login{
    
    border: 2px solid white;
    background-color: #cccccc;
    border-radius: 50px;
    color:black;
    height: 35em;
    width: 20em;
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 40%;
    margin-bottom: 5%;
    padding: 30px;
    opacity: 80%;
}
.login h2{
    text-align: center;
}
.login logincont{
    height: 1.5em;
    text-align: center;
    font-size: larger;
}
.login #submit{
    width: 100%;
    height: 3ssem;
    color: white;
    font-size: larger;
   /* background-color: dodgerblue;
    border:1px solid dodgerblue;*/
}
button{
    padding-bottom: 5%;
}
#demo {

padding-left: 10%;
padding-top: 10%;
padding-bottom: 10%;
}

table{
    padding :15%;
    text-align: left;
    width: 80%;
    height: 100%;
    padding-top: 5%;
    border-spacing: 50em;
    border: 1 px solid black;
    border-collapse: collapse;
}
th,td, tr{
    padding:15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1 px solid black;
}

.check{

    width: 20px;
    height: 20px;
}
